/* Estilo base */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden; /* Impede rolagem horizontal */
}

#img1 {
    position: relative;
    width: 100%;
    height: 90vh; /* Ocupa 90% da altura da viewport */
    overflow: hidden;
}

#img1 > img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    display: block;
    margin: 0;
}

#img1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 0;
    pointer-events: none;
}

.nav-list {
    position: absolute;
    left: 42%;
}

header {
    width: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    position: absolute;
    top: 2%;
    left: 0;
    z-index: 1;
}

/* Navegação */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
    transition: transform 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background 0.3s ease, color 0.3s ease;
}

nav ul li:hover {
    transform: translateY(-5px);
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000;
}

.h1 {
    position: absolute;
    top: 30%;
    left: 2%;
    width: 950px;
}

.h1 p {
    color: white;
    font-size: 2vw;
}

/* Botão */
.quiz-btn {
    position: absolute;
    top: 83%;
    left: 2%;
}

#quiz-btn {
    font-family: 'Poppins';
    background-color: rgb(22, 231, 22);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    height: 50px; /* Define a altura do botão */
    cursor: pointer;
    transition: transform 0.3s ease;
}

#quiz-btn:hover {
    transform: translateY(-10px);
}

/* Informação */
.info {
    position: absolute;
    top: 110%;
    left: 1%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Perguntas */
.pqs {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 100%;
    padding: 20px;
}

.pqs p {
    flex: 1;
    width: 300px;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pqs p:hover {
    transform: scale(1.1);
}

/* Estilos adicionais */
.p3 {
    position: absolute;
    top: 90%;
    margin-left: -5%;
    width: 950px;
}

.p3 p {
    font-family: 'Raleway';
    font-size: 30px;
}

/* Logo */
.logo-png {
    position: absolute;
    list-style: none;
    top: 1%;
    left: 4%;
    cursor: pointer;
}

.logo-png img {
    width: 90px;
    cursor: pointer;
}

.logo-h1 {
    position: absolute;
    top: 2%;
    left: 9%;
    cursor: pointer;
    color: #ffffff;
}

/* Info Box */
.info-box {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
    width: 540px;
    background: #ffffff;
    border-radius: 5px;
}

.info-box.show {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.info-box .info_title {
    height: 60px;
    width: 87%;
    display: flex;
    border-bottom: 1px solid lightgrey;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info-box .info_list {
    padding: 15px 35px;
}

.info-box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info-box .info_list .info span {
    font-weight: 500;
    color: rgb(37, 240, 37);
}

/* Botões */
.buttons button {
    left: 70%;
    position: relative;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid transparent; /* Para criar um efeito de hover mais suave */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

/* Botão "Continuar" */
.buttons button.continuar {
    background-color: rgb(27, 226, 27);
    color: white;
}

.buttons button.continuar:hover {
    background-color: rgb(51, 194, 51);
}

/* Botão "Sair" */
.buttons button.sair {
    background-color: transparent;
    color: rgb(27, 226, 27);
    border-color: rgb(27, 226, 27);
}

.buttons button.sair:hover {
    background-color: rgb(27, 226, 27);
    color: white;
}

/* Media Queries */



@media screen and (max-width: 2560px) {
    #img1 {
        position: relative;
        width: 100%;
        height: 90vh; /* Ocupa 90% da altura da viewport */
        overflow: hidden;
    }
    
    #img1 > img {
        width: 100%;
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover;
        display: block;
        margin: 0;
    }
    
    #img1::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        z-index: 0;
        pointer-events: none;
    }

    .p3 {
        left: 30%;
    }

    .p3 p {
        font-size: 50px;
    }



    .pqs {
        position: absolute;
        top: 100%;
        left: 20%;
        width: 1400px;
        
    }

    .pqs p {
        font-size: 30px;
    }

    .quiz-btn {
        margin-top: -250px;
    padding: 10px;
    }

    .h1 {
        width: 1500px;
    }

#info-box {
    width: 700px;
    height: 260px;
    font-size: 18px;
}

}

@media screen and (max-width: 1920px) {
    #img1 {
        position: relative;
        width: 100%;
        height: 90vh; /* Ocupa 90% da altura da viewport */
        overflow: hidden;
    }
    
    #img1 > img {
        width: 100%;
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover;
        display: block;
        margin: 0;
    }
    
    #img1::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        z-index: 0;
        pointer-events: none;
    }

    .p3 {
        left: 30%;
    }

    .p3 p {
        font-size: 30px;
    }



    .pqs {
        position: absolute;
        top: -110%;
        left: 13%;
        width: 1400px;
        
    }

    .pqs p {
        font-size: 18px;
    }

    .quiz-btn {
        margin-top: -250px;
    padding: 10px;
    }

    .h1 {
        width: 1500px;
    }

#info-box {
    width: 700px;
    height: 240px;
    font-size: 18px;
}
}

@media screen and (max-width: 1600px) {
    header {
        left: 10%;
    }

    .h1 p {
        font-size: 1.0em;
    }

    .h1 {
        position: absolute;
        top: 25%;
        width: 690px;
    }

    .quiz-btn {
        position: absolute;
        top: 40%;
    }

    .p3 {
        position: absolute;
        top: 65%;
        left: 20%;
    }

    .info {
        position: absolute;
        top: 80%;
        left: 10%;
    }

    #img1 {
        width: 180%;
    }

    #img1 > img {
        width: 110%;
        height: 70%;
    }

    #img1::after {
        width: 130%;
        height: 70%;
    }
}

@media screen and (max-width: 1440px) {
    .navbar {
        position: absolute;
        left: 28%;
    }
   
    .quiz-btn {
        left: 4%;
        top: 39%;
    }

    .p3 {
        position: absolute;
        top: 39%;
        left: 20%;
    }

    .h1 {
        position: absolute;
        top: 13%;
        left: 5%;
    }

    .h1 p{
        font-size: 40PX;
        width: 850px;
    }

    .pqs {
        position: relative;
        margin-top: -70%;
        left: -10%;
    }

    #img1 {
        position: relative;
        width: 100%;
        height: 90vh; /* Ocupa 90% da altura da viewport */
        overflow: hidden;
    }
    
    #img1 > img {
        width: 100%;
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover;
        display: block;
        margin: 0;
    }
    
    #img1::after {
        content: '';
        width: 100%;
        height: 42%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        z-index: 0;
        pointer-events: none;
    }

    .info-box {
        left: 45%;
    }
}

@media screen and (max-width: 1366px) {
    #img1 {
        width: 150%;
        height: 110vh;
    }

    #img1::after {
        height: 70%;
    }

    .h1 {
        position: absolute;
        top: 25%;
    }

    .h1 p {
        font-size: 2.0vw;
    }

    .quiz-btn {
        position: absolute;
        top: 35%;
        left: 35%;
        transform: translate(-230%, 340%);
    }

    .p3 {
        position: absolute;
        top: 80%;
        left: 10%;
    }

    .info {
        padding: 20px;
        z-index: 1;
    }

    .pqs {
        position: absolute;
        top: 290%;
        left: 5%;
        width: 850px;
    }
}

@media screen and (max-width: 1280px) {
    .navbar {
        position: absolute;
        left: 28%;
    }
   
    .quiz-btn {
        left: 46%;
        margin-top: -5%;
    }

    .p3 {
        position: absolute;
        top: 89%;
        left: 18%;
    }

    .pqs {
        position: relative;
        margin-top: 10%;
        left: -10%;
    }

    #img1 {
        position: relative;
        width: 100%;
        height: 90vh; /* Ocupa 90% da altura da viewport */
        overflow: hidden;
    }
    
    #img1 > img {
        width: 100%;
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover;
        display: block;
        margin: 0;
    }
    
    #img1::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        z-index: 0;
        pointer-events: none;
    }

    .info-box {
        left: 45%;
    }

}

@media screen and (max-width: 1024px) {
    .h1 {
        position: absolute;
        top: 20%;
        left: 5%;
        width: 100%;
    }

    .h1 p {
        font-size: 2.0vw;
        width: 80%;
    }

    .quiz-btn {
        position: absolute;
        top: 40%;
    }

    .p3 {
        position: absolute;
        top: 80%;
        left: 10%;
    }

    .pqs {
        position: absolute;
        top: 300%;
        left: -20%;
    }

    #quiz-btn {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
}

@media screen and (max-width: 720px) {
    header {
        font-size: 10px;
        width: 50%;
    }
    
    .nav-list {
        position: relative;
        left: 18%;
        top: 1;
    }

    .h1 {
        position: absolute;
        top: 16%;
        left: 2%;
        width: 90%;
    }

    .h1 p {
        font-size: 20px;
    }

    #quiz-btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .quiz-btn {
        position: absolute;
        top: 22%;
        left: 35%;
    }

    .info {
    margin-top: -30%;
    }

    .pqs {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:  390%;
        left: 2%;
        font-size: 10px;
    }

    .pqs p {
        font-size: 10px;
        width: 150px;
    }

    .p3 {
        position: absolute;
        top: 65%; /* Ajuste para garantir que fique visível */
        left: 18%; /* Ajuste a margem à esquerda */
        width: 70%; /* Mantenha a largura dentro da tela */
        max-width: 600px; /* Defina um máximo para evitar que fique muito grande */
        padding: 30px; /* Adicione algum padding se necessário */
        border-radius: 10px; /* Bordas arredondadas */
    }

    #contact {
        position: absolute;
        top: 50%;
    }

    .p3 p{
        font-size: 15px;
    }

    #img1 {
    position: relative;
    width: 105%;
    height: 55%; /* Ocupa 90% da altura da viewport */
    overflow: hidden;
}

#img1 > img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    display: block;
    margin: 0;
}

#img1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 0;
    pointer-events: none;
}

#info-box {
    width: 70%;
    height: 190px;
    font-size: 10px;
    position: absolute;
    top: 25%;
}
    
.info-box .info_title {
    width: 5%;
}
}

@media screen and (max-width: 430px) {
    header {
        font-size: 10px;
        width: 50%;
    }
    
    .nav-list {
        position: relative;
        left: -16%;
        top: 1;
    }

    .h1 {
        position: absolute;
        top: 16%;
        left: 2%;
        width: 90%;
    }

    .h1 p {
        font-size: 10px;
    }

    #quiz-btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .quiz-btn {
        position: absolute;
        top: 6%;
        left: 58%;
    }

    .info {
    margin-top: -30%;
    }

    .pqs {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:  -250%;
        left: -10%;
        font-size: 10px;
    }

    .pqs p {
        font-size: 10px;
        width: 150px;
    }

    .p3 {
        position: absolute;
        top: 40%; /* Ajuste para garantir que fique visível */
        left: 2%; /* Ajuste a margem à esquerda */
        width: 90%; /* Mantenha a largura dentro da tela */
        max-width: 600px; /* Defina um máximo para evitar que fique muito grande */
        padding: 30px; /* Adicione algum padding se necessário */
        border-radius: 10px; /* Bordas arredondadas */
    }

    #contact {
        position: absolute;
        top: 50%;
    }

    .p3 p{
        font-size: 15px;
    }

    #img1 {
    position: relative;
    width: 105%;
    height: 55%; /* Ocupa 90% da altura da viewport */
    overflow: hidden;
}

#img1 > img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    display: block;
    margin: 0;
}

#img1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 0;
    pointer-events: none;
}

#info-box {
    width: 70%;
    height: 190px;
    font-size: 10px;
    position: absolute;
    top: 25%;
}
    
.info-box .info_title {
    width: 5%;
}
}

@media screen and (max-width: 420px) {
    header {
        font-size: 10px;
        width: 50%;
    }
    
    .nav-list {
        position: relative;
        left: -19%;
        top: 1;
    }

    .h1 {
        position: absolute;
        top: 16%;
        left: 2%;
        width: 90%;
    }

    .h1 p {
        font-size: 10px;
    }

    #quiz-btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .quiz-btn {
        position: absolute;
        top: 6%;
        left: 63%;
    }

    .info {
    margin-top: -30%;
    }

    .pqs {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:  -50%;
        left: -11%;
        font-size: 10px;
    }

    .pqs p {
        font-size: 10px;
        width: 150px;
    }

    .p3 {
        position: absolute;
        top: 40%; /* Ajuste para garantir que fique visível */
        left: 2%; /* Ajuste a margem à esquerda */
        width: 90%; /* Mantenha a largura dentro da tela */
        max-width: 600px; /* Defina um máximo para evitar que fique muito grande */
        padding: 30px; /* Adicione algum padding se necessário */
        border-radius: 10px; /* Bordas arredondadas */
    }

    #contact {
        position: absolute;
        top: 50%;
    }

    .p3 p{
        font-size: 15px;
    }

    #img1 {
    position: relative;
    width: 105%;
    height: 55%; /* Ocupa 90% da altura da viewport */
    overflow: hidden;
}

#img1 > img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    display: block;
    margin: 0;
}

#img1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 0;
    pointer-events: none;
}

#info-box {
    width: 70%;
    height: 190px;
    font-size: 10px;
    position: absolute;
    top: 25%;
}
    
.info-box .info_title {
    width: 5%;
}
}

@media screen and (max-width: 375px) {
    header {
        font-size: 10px;
        width: 50%;
    }
    
    .nav-list {
        position: relative;
        left: 18%;
    }

    .h1 {
        position: absolute;
        top: 13%;
        left: 5%;
        width: 70%;
    }

    .h1 p {
        font-size: 3.0vw;
    }

    #quiz-btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .quiz-btn {
        position: absolute;
        top: 40%;
        left: 68%;
    }

    .info {
    margin-top: -30%;
    }

    .pqs {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: -100%;
        left: -20%;
        font-size: 10px;
    }

    .pqs p {
        width: 130px;
    }

    .p3 {
        position: absolute;
        top: 40%; /* Ajuste para garantir que fique visível */
        left: -1%; /* Ajuste a margem à esquerda */
        width: 90%; /* Mantenha a largura dentro da tela */
        max-width: 600px; /* Defina um máximo para evitar que fique muito grande */
        padding: 30px; /* Adicione algum padding se necessário */
        border-radius: 10px; /* Bordas arredondadas */
    }

    .p3 p{
        font-size: 15px;
    }

    #img1 {
    position: relative;
    width: 100%;
    height: 90vh; /* Ocupa 90% da altura da viewport */
    overflow: hidden;
}

#img1 > img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    display: block;
    margin: 0;
}

#img1::after {
    content: '';
    width: 100%;
    height: 42%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 0;
    pointer-events: none;
}

#info-box {
    width: 70%;
    height: 190px;
    font-size: 10px;
    position: absolute;
    top: 25%;
}
    
.info-box .info_title {
    width: 5%;
}

}

@media screen and (max-width: 360px) {
    .navbar {
        left: -18%;
    }

    .quiz-btn {
        position: absolute;
        top: 8%;
        left: 71%;
    }

    #img1 {
        position: relative;
        width: 110%;
        height: 105%; /* Ocupa 90% da altura da viewport */
        overflow: hidden;
    }
    
    #img1 > img {
        width: 100%;
        height: auto; /* Mantém a proporção da imagem */
        object-fit: cover;
        display: block;
        margin: 0;
    }
    
    #img1::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
        z-index: 0;
        pointer-events: none;
    }

}

@media screen and  (max-width: 320px) {
    header {
        font-size: 10px;
        width: 50%;
    }
    
    .nav-list {
        position: relative;
        left: 9%;
        top: 1;
    }

    .h1 {
        position: absolute;
        top: 16%;
        left: 2%;
        width: 90%;
    }

    .h1 p {
        font-size: 10px;
    }

    #quiz-btn {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .quiz-btn {
        position: absolute;
        top: 5%;
        left: 77%;
    }

    .info {
    margin-top: -30%;
    }

    .pqs {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top:  100%;
        left: -15%;
        font-size: 10px;
    }

    .pqs p {
        font-size: 10px;
        width: 150px;
    }

    .p3 {
        position: absolute;
        top: 40%; /* Ajuste para garantir que fique visível */
        left: -1%; /* Ajuste a margem à esquerda */
        width: 90%; /* Mantenha a largura dentro da tela */
        max-width: 600px; /* Defina um máximo para evitar que fique muito grande */
        padding: 30px; /* Adicione algum padding se necessário */
        border-radius: 10px; /* Bordas arredondadas */
    }

    #contact {
        position: absolute;
        top: 50%;
    }

    .p3 p{
        font-size: 15px;
    }

    #img1 {
    position: relative;
    width: 105%;
    height: 55%; /* Ocupa 90% da altura da viewport */
    overflow: hidden;
}

#img1 > img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    object-fit: cover;
    display: block;
    margin: 0;
}

#img1::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    z-index: 0;
    pointer-events: none;
}

#info-box {
    width: 70%;
    height: 190px;
    font-size: 10px;
    position: absolute;
    top: 25%;
}
    
.info-box .info_title {
    width: 5%;
}
}